@model BikeShopv2.Models.SANPHAM

@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <h4>THÔNG TIN SẢN PHẨM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOAISANPHAM.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISANPHAM.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRAND.Brand1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRAND.Brand1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            <img src="@Url.Content("~/HinhSanPham/"+  Model.Anh)" width="120px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyy}", Model.NgayCapNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SANPHAM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
